
.parent-container1{
    display: flex;
    justify-content:center;
    text-align: center ;
    width: 100%;
}
.parent-container2{
    display:flex;
    flex-direction: row;
    justify-content: center;
    
}

.text-container{
    margin: 30px;
}
h4{
    font-family: 'Red Hat Display';
    color:rgb(77,150,168);
}
h1{
    font-family: 'Red Hat Display';
    color:'black'; 
}

img{
border-radius: 5px;
margin: 15px;
width:200px;
}

.group{
    font-family: 'Red Hat Display';
    margin: 0;
    background-color: 'black';
    text-align: center;
}
body{
    font-family: 'Red Hat Display';
    margin: 0;
    background-color: 'black';
    text-align: center;
}
.button1{
    background-color: rgb(77,150,168);
    color:white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 25px;
    border-color: transparent;



}
.button2{
    background-color: rgb(133,95,177);
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 25px;
    border-color: transparent;

}
.footer-image{
    background-image: url(src\image-footer.jpg);
    background-color:rgb(77,150,168);
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 250px;

}

#meet{
    padding: 40px;
}

.exp{
    padding: 50px;
    margin-top: 40px;
}

.stay{
    padding: 100px;
    margin: 0;;
}

.lastbutton{
    margin: auto;
}

#button3{
    padding: 15px;
    border-radius: 25px;
    border-color: cornsilk;
    background-color: rgb(133,95,177);
    border-color: transparent;
}